@media only screen
  and (max-device-width: 768px)
  and (orientation: portrait) {
    .yourpoststext{
        position: relative !important;
        left: 0px !important;
    }
}

.profilebutton:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(132, 132, 132);
}
.profilebutton{
    margin-top: 50px;
}

.yourpoststext{
    position: relative;
    left: 274px;
    margin-bottom: 40px;
}

.profilecategory{
    margin: 15px;
}

.notiptext{
    text-align: center;
    color:rgb(132, 132, 132);
    margin-top: 70px;
}